.skills {
  height: 100vh;
  box-sizing: border-box;
  padding: 0 75px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.linkArrow {
  position: absolute;
  bottom: 80px;
}
.Arrow {
  position: absolute;
  font-size: 40px;
  color: rgb(240, 240, 240);
  bottom: 10px;
  cursor: pointer;
}

.containerSkills {
  display: flex;
  flex-direction: row;
  gap: 25px;
  height: auto;
  width: 100%;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
}

.sectionContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border-radius: 15px;
  height: 340px;
  position: relative;
  border: 2px solid #ffffff1f;
}

.sectionContainer span {
  margin: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 2px;
}

.frontEnd {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 250px;
  height: auto;
  flex-wrap: wrap;
}

.backEnd {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 250px;
  height: auto;
  flex-wrap: wrap;
}

.herramientas {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 250px;
  height: auto;
  flex-wrap: wrap;
}

.skill {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  border-radius: 10px;
  width: auto;
  height: auto;
  font-size: 45px;
  transition: transform 150ms ease;
}

.father {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.subtitle {
  display: flex;
  justify-content: start;
  margin-bottom: 50px;
  width: 100%;
  border-bottom: 2px white solid;
}

.subtitle h2 {
  font-weight: 400;
  margin: 0;
  font-size: 48px;
}

.contenedor {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.imgSkills {
  width: 300px;
}

.imgSkills img {
  width: 290px;
}

.skill p {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
}

.sectionContainer img {
  height: 45px;
}

.js {
  color: #f4e11e;
}

.tailwind {
  color: #38bdf8;
}
.react {
  color: #149eca;
}
.redux {
  color: #764abc;
}

.node {
  color: #026e00;
}

.git {
  color: #f34f29;
}

.skill:hover {
  transform: scale(1.2);
}

.tools {
  position: absolute;
  bottom: 15px;
  right: 15px;
  color: #0e51b6;
  font-size: 20px;
}
