.about {
  background-color: transparent;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 75px 75px;
}

.containerAbout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.conteinerAbout1 {
  width: 435px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-size: 40px;
  font-weight: 500;
  margin: 0;
}

.containerAbout h1 {
  margin: 0;
  font-size: 60px;
  font-weight: 600;
}

.work {
  position: relative;
  transition: ease 500ms transform;
  z-index: 3;
  cursor: pointer;
}

.openToWork {
  /* color: rgb(13, 59, 5);
  background-color: rgb(97, 196, 97); */
  background-color: #1f2937;
  border: 1px solid #4b5563;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 200;
  box-sizing: border-box;
  padding: 5px;
  display: flex;

  height: 24px;
  width: auto;
  transition: ease 200ms transform;
  z-index: 2; /* Ajustado a 2 para que aparezca sobre arrowWork */
}

.arrowWork {
  position: absolute;
  top: 40%;
  left: 40%;
  opacity: 0;
  transition: ease 200ms transform;
  color: #ffffff;
  z-index: 3; /* Ajustado a 3 para que aparezca por detrás de openToWork */
}

.work:hover .openToWork {
  transform: translateY(-8px);
}

.work:hover .arrowWork {
  opacity: 1;
  transform: translateY(8px);
}

.conteinerDescription {
  width: 380px;
}

.description {
  font-size: 18px;
}

.textGradient {
  background: rgb(18, 60, 193);
  background: linear-gradient(
    84deg,
    rgba(18, 60, 193, 1) 0%,
    rgba(38, 111, 249, 1) 56%,
    rgba(95, 162, 247, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.flag {
  width: 20px;
  border-radius: 2px;
}
.tecnico {
  color: rgb(252, 252, 144);
}
.conteinerIcons {
  display: flex;
  gap: 15px;
  align-items: center;
}

.resume {
  border: none;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 300;
  height: auto;
  width: auto;
  height: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: white;
  transition: 100ms ease color;
  position: relative;
  text-decoration: none;
}

.iconDownload {
  margin-left: 5px;
  transition: transform 150ms ease;
  padding-bottom: 2px;
}
.resume:hover .iconDownload {
  transform: scale(1.2) translateY(-7px);
}

.githubIcon,
.linkedinIcon {
  color: #ffffff;
  text-decoration: none;
  font-size: 25px;
  transition: 100ms ease color, transform 150ms ease;
}
.linkArrow {
  position: absolute;
  bottom: 80px;
}
.Arrow {
  position: absolute;
  font-size: 40px;
  color: rgb(240, 240, 240);
  bottom: 10px;
  cursor: pointer;
}

/* //! ////////////////// hover logos ////////////////// */

.resume:hover {
  color: rgb(14, 81, 182);
}

.iconsRed {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconsRed:hover .githubIcon,
.iconsRed:hover .linkedinIcon {
  transform: translateY(-7px);
  color: rgb(14, 81, 182);
}

.conteinerAbout2 {
  height: 350px;
  position: relative;
}
.conteinerAbout2 img {
  height: 100%;
}

/* Media Queries */

@media screen and (min-width: 1441px) and (max-width: 2560px) {
}

@media screen and (min-width: 768px) and (max-width: 1440px) {
  /* Estilos para pantallas de tabletas (768px a 1024px) */
  /* Añade tus estilos aquí */
}

@media screen and (max-width: 767px) {
  .about {
    padding: 100px 30px 100px;
    align-items: start;
    box-sizing: border-box;
    flex-direction: column;
  }
  .containerAbout {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
  }

  .conteinerAbout1 {
    width: 100%;
    height: 50%;
    align-items: center;
    justify-content: center;
  }

  .titleLiteral {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .titleLiteral h1 {
    text-align: center;
    font-size: 50px;
  }

  .conteinerDescription {
    width: 100%;
    justify-content: space-between;
  }

  .description {
    text-align: start;
    font-size: 17px;
    padding: 0;
    width: 100%;
    margin: 0;
  }

  .conteinerIcons {
    justify-content: space-between;
    width: 100%;
  }

  .conteinerTitle {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .conteinerAbout2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
  }
  .conteinerAbout2 img {
    height: 100%;
    width: auto;
  }
  .linkArrow {
    display: none;
  }
}
