.about {
  background-color: transparent;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 75px 0;
}

.logoBg {
  position: absolute;
  height: 100px;
  opacity: 2%;
  right: 0;
  bottom: 0;
  margin: 20px;
}

.containerAbout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.conteinerAbout1 {
  width: 430px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-size: 32px;
  font-weight: 500;
  margin: 0;
}

.containerAbout h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 500;
}

.conteinerDescription {
  width: 380px;
}

.description {
  font-size: 18px;
  font-weight: lighter;
}

.textGradient {
  background: rgb(14, 81, 182);
  background: linear-gradient(
    141deg,
    rgba(14, 81, 182, 1) 0%,
    rgba(14, 81, 182, 1) 31%,
    rgba(49, 111, 203, 1) 66%,
    rgba(87, 151, 246, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
}

.conteinerIcons {
  display: flex;
  gap: 10px;
  align-items: center;
}

.resume {
  border: none;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 300;
  height: auto;
  width: auto;
  height: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: white;
  transition: 100ms ease color;
  position: relative;
  text-decoration: none;
}

.iconDownload {
  margin-left: 5px;
  transition: transform 150ms ease;
  padding-bottom: 5px;
}
.resume:hover .iconDownload {
  transform: scale(1.2) translateY(-7px);
}

.githubIcon,
.linkedinIcon {
  color: #ffffff;
  text-decoration: none;
  font-size: 25px;
  transition: 100ms ease color;
}

.Arrow {
  position: absolute;
  font-size: 40px;
  color: rgb(240, 240, 240);
  bottom: 10px;
}

/* //! ////////////////// hover logos ////////////////// */

.resume:hover {
  color: rgb(14, 81, 182);
}

.githubIcon:hover {
  color: rgb(14, 81, 182);
}

.linkedinIcon:hover {
  color: rgb(14, 81, 182);
}

.conteinerAbout2 {
  height: 350px;
}
.conteinerAbout2 img {
  height: 100%;
  transition: 500ms ease transform;
}

.conteinerAbout2 img:hover {
  transform: scale(1.05);
}
/* Media Queries */

@media screen and (min-width: 2561px) {
  /* Estilos para pantallas de 27" y más grandes */
  /* Añade tus estilos aquí */
}

@media screen and (min-width: 1441px) and (max-width: 2560px) {
  /* Estilos para pantallas de 19" a 27" */
  /* Tus estilos actuales parecen estar optimizados para esta resolución */
}

@media screen and (min-width: 768px) and (max-width: 1440px) {
  /* Estilos para pantallas de tabletas (768px a 1024px) */
  /* Añade tus estilos aquí */
}

@media screen and (max-width: 767px) {
  /* Estilos para pantallas de móviles (menos de 768px) */
  /* Añade tus estilos aquí */
}
