.footer {
  color: #ffffff;
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  box-sizing: border-box;
  flex-direction: column;
}

.bottom p {
  margin: 0;
  font-size: 12px;
  font-weight: 300;
}
